/* Use bootstrap */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.alert-notice {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.navbar {
    // Gradient from http://uigradients.com/#ShadowNight
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000000 , #53346D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000000 , #53346D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    // Gradient from http://uigradients.com/#ShadowNight #Modified
    background: #d7e6f4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #88b5dd , #d7e6f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #88b5dd , #d7e6f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}